.button {
    height: 50px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    float: left;
    margin: 30px 0;
}

.button:hover {
    transition: 0.1s;
}

.meer_info {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #1A7FBB;
    opacity: 1;
    margin: 60px 0 0;
}

.hire_me {
    background-color: #ee393e;
}

.hire_me:hover {
    background-color: #ff6d71;
}

input[type=submit] {
    float: left;
    border: none;
}

.send {
    background-color: #1A7FBB;
}

.send:hover {
    background-color: #00426b;
}