
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  background-color: #f2eeeb;
}

/* h10 en h11 worden enkel gebruikt in de styleguide */

h10 {
  font-size: 5em;
  font-family: 'Open Sans', sans-serif;
  color: #ee393e;
  text-align: center;
  float: none;
}

h11 {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.styleguide-typography {
    text-align: left;
}

.color {
    width: 100%;
    padding-top: 100%;

}

.color_text {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

.icon_margin {
    margin: 15px 15px 0;
}

.button {
    height: 50px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 0 20px 20px 0;
    float: left;
}

.button:hover {
    transition: 0.1s;
}

.hire_me, .contact{
    background-color: #ee393e;
}

.hire_me:hover, .contact:hover {
    background-color: #ff6d71;
}

.send {
    background-color: #1A7FBB;
}

.send:hover {
    background-color: #00426b;
}

.meer_info {
    height: 25px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    margin: 0 20px 20px 0;
    float: left;
    background-color: white;
    color: #1A7FBB;
}

.meer_info:hover {
    transition: 0.1s;
    opacity: 0.7;
}

.sg_header {
    margin: 3em 0 1em;
}

nav a, nav a:visited {
    text-decoration: none;
    color: #303030;
    font-weight: 700; 
}

.navigation {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 90px;
}

nav a:hover {
    border-bottom: 1px solid #757575; 
}
.nav_active_page {
    border-bottom: 1px solid #000000;
}

.navigation_text {
    text-align: center;
    font-size: 1.1rem;
    line-height: 90px;
}

a.company_logo {
        display:block; /* eerst van de a een block-element maken */
        width: 100%;
        /* background*/
        background-image: url("../assets/images/balcaen_logo.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;
        /* magic: tekst laten verdwijnen, door deze naar links op te schuiven */
        overflow:hidden;
        text-indent:-999px;
    }

a.company_logo:hover {
    border: 0px;
}

.pic {
    width: 100%;
    height: 200px;
    background-color: gray;
    margin: 0 0 3em;
}