body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.42;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.42;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.42;
  text-align: center;
}

em {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1A7FBB;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #1A7FBB;
}

a:visited {
  color: #00426b;
}

div a {
  text-decoration: none;
}

.overlay_text {
  color: #303030;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.first_paragraph {
  margin-top: 0;
}

.center_text {
  text-align: center;
}

.wrap {
   width: 100%;
   margin: 0 auto;
}
.left_col {
   float: left;
   width: 50%;
}
.right_col {
   float: right;
   width: 50%;
}

.wrap p {
  margin: 0 0 15px;
}

.description {
    text-align: center;
    padding: 0 3px;
}